<%= link_to "Sign in via Facebook", "/auth/facebook", class: "btn btn-primary btn-block" %>

<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>
